@{
    ViewData["Title"] = "Mono d.o.o.";
}
<br>
<br>
<h3>@ViewData["Title"]</h3>
<br>

<p><i>
    

     Tvrtka za razvoj softvera, osnovana 2003.
    godine u Osijeku. Trenutno zapošljavamo 60ak ljudi, 
    a za poslovne smo rezultate primili veći broj različitih priznanja 
    i nagrada (Zlatna kuna, Deloitte Technology Fast 50, European Business Awards).  
    Preko 90% prihoda ostvarujemo u inozemstvu, kao najveći izvoznik softvera u 
    regiji i jedan 50 najvećih hrvatskih izvoznika softvera. 
    Surađujemo s Microsoftom u statusu “Gold partnera”.
    Proizvodimo Backend-as-a-Service (BaaS) rješenja, 
    sustave za upravljanje sadržajem, aplikativne okvire za razvoj 
    interneta i društvenih mreža, te razna specijalizirana rješenja u farmaciji,
    medicini, bankarstvu, financijama, upravljanju ljudskim resursima,
    tržištu nekretnina i drugim granama. Neka od naših rješenja uključuju napredne tehnologije,
    poput strojnog učenja i rudarenja podataka, a za izvođenje koriste različite vrste 
    “cloud” okruženja.


    </i>
</p>

<br>
<br>

<div id="karta">
    <i>
        <h6>
            Mono d.o.o. - lokacija
        </h6><br>
    </i>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2794.1238017007677!2d18.686346975942225!3d45.54783502785497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1686352601620!5m2!1shr!2shr" 
    width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
<br>
<br>


<a href="https://www.facebook.com/mono.software/?locale=hr_HR" target="_blank" >
    <i> facebook mono</i>
</a>
<br>
<br>


<a href="https://mono.software/" target="_blank">
    <i>službena stranica</i>
</a>
<br>
<br>





